.income-expense-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 25px 10px 25px;
    background-color: rgb(201, 191, 248);
    border-radius: 10px;

}

.income-expense-container hr{
    margin: 7px;
    height: 35px;
    border: 0.5px solid white;
}

.income, .expense {
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.income span, .expense span{
    font-size: x-large;
}

.income span{
    color: green;
}
.expense span{
    color: red;
}